body {

background-color: lightblue; 


}

h1 {

font-family: 'Crimson Text', serif;
font-size: 40px;
text-align: center;
color:blue;

}

h2 {

font-family: 'Bree Serif', serif;
font-size: 30px;
text-align: left;

}

b {

font-size: 20px;
}

a {

font-size: 25px;
font-family: 'Bree Serif', serif;

}

p {


font-family: 'Crimson Text', serif;
font-size: 40px;
text-align: left;


}
img {

display: block;
height: 150px;
width: 375px;

}

#title {

 background-color:green;
 width: 900px;
 height: 200px;
 border-radius: 15px;
}

#main {
background:#008ae6;
height: 300px;
width: 800px;
border-radius: 5px;



